In [ ]:
pip install mysql-connector-python

In [ ]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
from getpass import getpass
import mysql.connector


pwd = getpass()

In [ ]:
cnx = mysql.connector.connect(user = "root",
                              password = pwd,
                              host = "localhost")

In [ ]:
cnx.is_connected()

In [ ]:
cursor = cnx.cursor()

In [ ]:
query = """SELECT * FROM sakila.rental;"""

In [ ]:
cursor.execute(query)

In [ ]:
results = cursor.fetchall()

In [ ]:
type(results)

In [ ]:
df_rental = pd.DataFrame(results)
df_rental

In [ ]:
columns = [tup[0] for tup in cursor.description]
columns

In [ ]:
df_rental.columns = ['rental_id', 'rental_date', 'inventory_id', 'customer_id', 'return_date', 'staff_id', 'last_update']
df_rental

In [ ]:
user = "root"
db = "sakila"

engine = create_engine(f"mysql+pymysql://{user}:{pwd}@localhost/{db}")

In [ ]:
def rentals_month(con, month, year):
    
    # SQL query to retrieve data from the rental table
    query = f"""
    SELECT 
        rental_id,
        rental_date,
        inventory_id,
        customer_id,
        return_date,
        staff_id,
        last_update
    FROM sakila.rental
    WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year};
    """
    
    # query and load the data into a DataFrame
    with engine.connect() as con:
        df_rental = pd.read_sql(query, con)
    
    return df_rental

# Example for Mai (5) 2005

df_rental = rentals_month(engine, 5, 2005)

display(df_rental)

In [ ]:
def rental_count_month(df_rental, month, year):
   
    # Ensure rental_date is a datetime object
    df_rental['rental_date'] = pd.to_datetime(df_rental['rental_date'])
    
    # Filter the DataFrame by the given month and year
    df_filter = df_rental[
        (df_rental['rental_date'].dt.month == month) &
        (df_rental['rental_date'].dt.year == year)
    ]
    
    # Group by customer_id and count rentals
    rental_counts = df_filter.groupby('customer_id').size().reset_index(name=f"rentals_{str(month)}_{year}")
    
    return rental_counts

df_rental = rentals_month(engine, 5, 2005)
rental_counts_df = rental_count_month(df_rental, 5, 2005)
display(rental_counts_df)

In [ ]:
def compare_monthly_rentals (engine, month1, year1, month2, year2):
    
    # rental counts for the two months using def - > rentals_month
    df_month1 = rentals_month(engine, month1, year1)
    df_month2 = rentals_month(engine, month2, year2)

    # group the data by customer_id and count rentals for each month
    rental_counts_month1 = df_month1.groupby('customer_id').size().reset_index(name=f"rentals_{str(month1).zfill(2)}_{year1}")
    rental_counts_month2 = df_month2.groupby('customer_id').size().reset_index(name=f"rentals_{str(month2).zfill(2)}_{year2}")

    # merge the two df and calculate the difference
    df_monthly_rentals = pd.merge(rental_counts_month1, rental_counts_month2, on='customer_id', how='outer')
    df_monthly_rentals = df_monthly_rentals.fillna(0)
    df_monthly_rentals['difference'] = df_monthly_rentals.iloc[:, 1] - df_monthly_rentals.iloc[:, 2]

    return df_monthly_rentals

df_monthly_rentals = compare_monthly_rentals(engine, 6, 2005, 7, 2005)
display(df_monthly_rentals)